@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-title: "Amatic SC", serif;
    --default-font: "Atkinson Hyperlegible Mono", sans-serif;
    --background-color-login: #FFF6ED;
    --color-box-shadow-login-button: #ff6c0070;
    --color-font-button-login: #fff;
    --background-button-login: #FF6C00;
    --background-button-login-hover: #FFF6ED;
    --color-button-login-hover: #FF6C00;
    --color-border-button-login-hover: #FF6C00;
}

.wrapper-login {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color-get-started);
    font-family: var(--default-font);
}


.image-login {
    background: url("../../assets/login-signup-image.png") bottom;
    background-size: cover;
    margin-top: 60px;
    width: 70vw;
    height: 200px;
    border: 1px solid var(--color-border-button-login-hover);
    border-radius: 20px 20px 0px 0px;

    position: relative;
}

.bi-arrow-left-circle {
    cursor: pointer;

    position: absolute;
    top: 10px;
    left: 10px;
}

.form {
    width: 70vw;
    border: 1px solid var(--color-border-button-login-hover);
}

.login-title {
    margin-top: 10px;
    text-align: center;
    font-family: var(--font-title);
}

.p-login {
    font-size: 12px;
    text-align: center;
}

.login-signup-info{
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

form {
    padding: 15px;

    .camp {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        gap: 3px
    }

    .material-symbols-outlined {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        height: 25px;
        width: 50vw;
        background-color: var(--background-color-login);
        border: 1px solid var(--color-background-button-login);
        border-radius: 20px;
    }

    #iemail,
    #ipassword {
        padding-left: 5px;
    }

    .input-submit {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        width: 40vw;
        background-color: var(--background-button-login);
        color: var(--color-font-button-login);
        cursor: pointer;

        position: relative;
        left: 50%;
        transform: translateX(-45%);
    }

    .input-submit:hover {
        background-color: var(--background-button-login-hover);
        color: var(--color-button-login-hover);
        border: 1px solid var(--color-border-button-login-hover);
    }

    .forget,
    .create {
        margin-top: 5px;
        display: flex;
        color: #000;
        text-decoration: none;
        font-size: 10px;
        cursor: pointer;
    }
}

@media screen and (min-width:768px) {
    .wrapper-login {
        flex-direction: row;
        justify-content: center;
    }

    .image-login {
        margin-top: 0;
        width: 30vw;
        height: 500px;
        border-radius: 20px 0px 0px 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60vw;
        height: 500px;
        border-radius: 0px 20px 20px 0px;
    }
}